<jhi-page-ribbon></jhi-page-ribbon>
<md-sidenav-container>
    <md-sidenav id="sidenav" #sidenav>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum
            maiores maxime nulla numquam voluptatum? A adipisci consequuntur
            deleniti perferendis placeat possimus reprehenderit soluta! Iste
            libero quo, saepe tempore tenetur veritatis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum
            maiores maxime nulla numquam voluptatum? A adipisci consequuntur
            deleniti perferendis placeat possimus reprehenderit soluta! Iste
            libero quo, saepe tempore tenetur veritatis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum
            maiores maxime nulla numquam voluptatum? A adipisci consequuntur
            deleniti perferendis placeat possimus reprehenderit soluta! Iste
            libero quo, saepe tempore tenetur veritatis.</p>
    </md-sidenav>

    <md-toolbar id="top-navi" color="primary">
        <button md-button (click)="sidenav.open()">
            <md-icon>menu</md-icon>
        </button>
    </md-toolbar>

    <div ui-view="content"></div>


    <div class="grid">
        <md-card class="grid-element">
            <h1 class="display-2">H1 Topic (display-2)</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam animi asperiores at cumque dolorum ducimus, eius eum laboriosam maxime natus nihil obcaecati perspiciatis placeat possimus sapiente, sunt vero vitae.</p>
            <strong class="subheading-2">Subheading 2</strong>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, aspernatur enim est perspiciatis qui ratione! Impedit iure labore quisquam saepe ut. Dolorum earum explicabo laboriosam necessitatibus non pariatur repellendus voluptatibus!</p>
        </md-card>
        <md-card class="grid-element">
            <h2 class="display-1">H2 Topic (display-1)</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque, delectus dignissimos eaque fuga, fugiat fugit iusto molestiae repellat similique velit voluptas? Inventore ipsam neque nihil nostrum placeat tenetur, voluptates!</p>
            <strong class="subheading-1">Subheading 1</strong>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolore eius fuga, minus quasi quisquam soluta? Explicabo facere incidunt provident. Accusantium beatae eos eum molestiae necessitatibus nulla porro quas? Delectus.</p>
        </md-card>
        <md-card class="grid-element">
            <h3 class="headline">H3 Topic (headline)</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, beatae dignissimos dolor eligendi eos facilis, illo, illum ipsa iste itaque iusto minima nostrum provident quasi qui recusandae reprehenderit tempora vero!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda aut consequuntur corporis cum, dignissimos dolorem dolores eveniet expedita, fuga incidunt ipsa itaque labore laborum magnam, necessitatibus ratione reprehenderit tempore.</p>
        </md-card>
    </div>

</md-sidenav-container>
<!--<jhi-page-ribbon></jhi-page-ribbon>-->
<!--<md-sidenav-container>-->
<!--<md-toolbar color="primary">-->
<!--<button md-button (click)="sidenav.open()">-->
<!--<md-icon>menu</md-icon>-->
<!--</button>-->
<!--</md-toolbar>-->
<!--<md-sidenav #sidenav>-->
<!--<jhi-navbar></jhi-navbar>-->
<!--</md-sidenav>-->
<!--<div class="container-fluid">-->
<!--<div class="card" ui-view="content"></div>-->
<!--<jhi-footer></jhi-footer>-->
<!--</div>-->
<!--</md-sidenav-container>-->
