@import '~bu-material-sass/bu_material_sass';
.grid {
    display: flex;
    flex-grow: 0;
    flex-wrap: wrap;
    @include dp-array(('padding-left': 8, 'padding-top': 8));
    .grid-element{
        @include dp-array(('margin-right': 8, 'margin-bottom': 8));
        flex-grow: 1;
        flex-basis: 25%;
    }
}

#sidenav {
    @include dp-array(('width':256, 'padding-top':24, 'padding-left':24, 'padding-right':16));
}

#top-navi {
    @include dp-shadow(3);
}

