<jhi-page-ribbon></jhi-page-ribbon>
<md-sidenav-container>
    <md-sidenav id="sidenav" #sidenav>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum
            maiores maxime nulla numquam voluptatum? A adipisci consequuntur
            deleniti perferendis placeat possimus reprehenderit soluta! Iste
            libero quo, saepe tempore tenetur veritatis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum
            maiores maxime nulla numquam voluptatum? A adipisci consequuntur
            deleniti perferendis placeat possimus reprehenderit soluta! Iste
            libero quo, saepe tempore tenetur veritatis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum
            maiores maxime nulla numquam voluptatum? A adipisci consequuntur
            deleniti perferendis placeat possimus reprehenderit soluta! Iste
            libero quo, saepe tempore tenetur veritatis.</p>
    </md-sidenav>

    <md-toolbar id="top-navi" color="primary">
        <button md-button (click)="sidenav.open()">
            <md-icon>menu</md-icon>
        </button>
    </md-toolbar>

    <div class="grid">
        <md-card class="grid-element">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores atque dolor dolorum et eum explicabo hic inventore laboriosam numquam obcaecati quidem, tenetur voluptate! Aperiam atque debitis, deleniti minima nulla quod.</md-card>
        <md-card class="grid-element">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus distinctio expedita in ipsa laudantium libero minus nobis quaerat! Accusamus illo maiores nam obcaecati pariatur quasi sed sequi soluta tempore unde.</md-card>
        <md-card class="grid-element">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium beatae blanditiis commodi consectetur cum, deleniti distinctio doloribus ea eaque eligendi ex exercitationem fuga id inventore ipsum minima quas quia ut.</md-card>
        <md-card class="grid-element">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci excepturi, ipsam nemo non reiciendis tenetur voluptatum? Aperiam debitis dignissimos dolor eligendi eos, exercitationem, expedita, hic ipsum minima quae repellat.</md-card>
        <md-card class="grid-element">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur corporis cum cumque cupiditate deserunt, dolor, dolore eos iste molestias nesciunt nihil odit officia pariatur, perferendis ratione reprehenderit repudiandae saepe voluptatum!</md-card>
        <md-card class="grid-element">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ea exercitationem facilis inventore ipsam, iusto nihil nobis non numquam odit officia omnis optio possimus quos rem reprehenderit tempore veritatis vero.</md-card>
        <md-card class="grid-element">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ea exercitationem facilis inventore ipsam, iusto nihil nobis non numquam odit officia omnis optio possimus quos rem reprehenderit tempore veritatis vero.</md-card>
        <md-card class="grid-element">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eius ipsa modi necessitatibus quos? Asperiores dolore id in iste nobis quasi sint sunt vero! Eligendi harum suscipit ullam veritatis vero!</md-card>
    </div>

</md-sidenav-container>
<!--<jhi-page-ribbon></jhi-page-ribbon>-->
<!--<md-sidenav-container>-->
<!--<md-toolbar color="primary">-->
<!--<button md-button (click)="sidenav.open()">-->
<!--<md-icon>menu</md-icon>-->
<!--</button>-->
<!--</md-toolbar>-->
<!--<md-sidenav #sidenav>-->
<!--<jhi-navbar></jhi-navbar>-->
<!--</md-sidenav>-->
<!--<div class="container-fluid">-->
<!--<div class="card" ui-view="content"></div>-->
<!--<jhi-footer></jhi-footer>-->
<!--</div>-->
<!--</md-sidenav-container>-->
